@mixin button($color: #DAF7A6) {
    height: 24px;
    min-width: 24px;
    padding: 3px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: #000007;

    & i {
        font-size: 16px;
        padding-bottom: 10px;
    }

    &:active, &.active {
        color: $color;
    }

    &:hover {
        background: #eee;
        border-radius: $border-radius;
        cursor: pointer;
    }
}